# Pliki pomocnicze LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.toc
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nlo
*.glo
*.lot
*.lof
*.ist


# Pliki tymczasowe edytorów
*~
*.swp
*.DS_Store

# Foldery robocze
_build/

#other

*.zip
